<form method="post" action="/add">
  <input type="text" name="name" placeholder="name" />
    <input type="text" name="description" placeholder="description" />
      <input type="text" name="price" placeholder="price" />
  <input type="submit" value="Add Listing!" />
</form>
