<form action="/sign_out">
  <input type="submit" value="Sign Out">
</form>

<h1>Makers BnB</h1>

<% @property.each do |property| %>
<li><%= property.name %></li>
<li><%= property.price %></li>
<li><%= property.description %></li>
<% end %>

<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 6px;
  text-align: left;
}
</style>
</head>
<body>

<h2>Choose your Starting Date!</h2>

<form action="/property" method="post">
<table style="width:20%">
  <tr>
    <th colspan="7"><select name="month" class="dropdown">
          <option value="January">January</option>
          <option value="February">February</option>
          <option value="March">March</option>
          <option value="April">April</option>
          <option value="June">June</option>
          <option value="July">July</option>
          <option value="August">August</option>
          <option value="September">September</option>
          <option value="October">October</option>
          <option value="November">November</option>
          <option value="December">December</option>
    </select></th>
  </tr>
  <tr>
    <td><button type="button" onclick="@calendar.add_day(1)">1</button></td>
    <td><button type="button" onclick="@calendar.add_day(2)">2</button></td>
    <td><button type="button" onclick="alert('')">3</button></td>
    <td><button type="button" onclick="alert('')">4</button></td>
    <td><button type="button" onclick="alert('')">5</button></td>
    <td><button type="button" onclick="alert('')">6</button></td>
    <td><button type="button" onclick="alert('')">7</button></td>
  </tr>
  <tr>
    <td><button type="button" onclick="alert('')">8</button></td>
    <td><button type="button" onclick="alert('')">9</button></td>
    <td><button type="button" onclick="alert('')">10</button></td>
    <td><button type="button" onclick="alert('')">11</button></td>
    <td><button type="button" onclick="alert('')">12</button></td>
    <td><button type="button" onclick="alert('')">13</button></td>
    <td><button type="button" onclick="alert('')">14</button></td>
  </tr>
  <tr>
    <td><button type="button" onclick="alert('')">15</button></td>
    <td><button type="button" onclick="alert('')">16</button></td>
    <td><button type="button" onclick="alert('')">17</button></td>
    <td><button type="button" onclick="alert('')">18</button></td>
    <td><button type="button" onclick="alert('')">19</button></td>
    <td><button type="button" onclick="alert('')">20</button></td>
    <td><button type="button" onclick="alert('')">21</button></td>
  </tr>
  <tr>
    <td><button type="button" onclick="alert('')">22</button></td>
    <td><button type="button" onclick="alert('')">23</button></td>
    <td><button type="button" onclick="alert('')">24</button></td>
    <td><button type="button" onclick="alert('')">25</button></td>
    <td><button type="button" onclick="alert('')">26</button></td>
    <td><button type="button" onclick="alert('')">27</button></td>
    <td><button type="button" onclick="alert('')">28</button></td>
  </tr>
  <tr>
    <td><button type="button" onclick="alert('')">29</button></td>
    <td><button type="button" onclick="alert('')">30</button></td>
    <td><button type="button" onclick="alert('')">31</button></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
  <input type="submit" value="Book">
</form>

<h2>Choose your End Date!</h2>

<form action="/property" method="post">
<table style="width:20%">
  <tr>
    <th colspan="7"></th>
  </tr>
  <tr>
    <td><button type="button" onclick="@calendar.add_day(1)">1</button></td>
    <td><button type="button" onclick="@calendar.add_day(2)">2</button></td>
    <td><button type="button" onclick="alert('')">3</button></td>
    <td><button type="button" onclick="alert('')">4</button></td>
    <td><button type="button" onclick="alert('')">5</button></td>
    <td><button type="button" onclick="alert('')">6</button></td>
    <td><button type="button" onclick="alert('')">7</button></td>
  </tr>
  <tr>
    <td><button type="button" onclick="alert('')">8</button></td>
    <td><button type="button" onclick="alert('')">9</button></td>
    <td><button type="button" onclick="alert('')">10</button></td>
    <td><button type="button" onclick="alert('')">11</button></td>
    <td><button type="button" onclick="alert('')">12</button></td>
    <td><button type="button" onclick="alert('')">13</button></td>
    <td><button type="button" onclick="alert('')">14</button></td>
  </tr>
  <tr>
    <td><button type="button" onclick="alert('')">15</button></td>
    <td><button type="button" onclick="alert('')">16</button></td>
    <td><button type="button" onclick="alert('')">17</button></td>
    <td><button type="button" onclick="alert('')">18</button></td>
    <td><button type="button" onclick="alert('')">19</button></td>
    <td><button type="button" onclick="alert('')">20</button></td>
    <td><button type="button" onclick="alert('')">21</button></td>
  </tr>
  <tr>
    <td><button type="button" onclick="alert('')">22</button></td>
    <td><button type="button" onclick="alert('')">23</button></td>
    <td><button type="button" onclick="alert('')">24</button></td>
    <td><button type="button" onclick="alert('')">25</button></td>
    <td><button type="button" onclick="alert('')">26</button></td>
    <td><button type="button" onclick="alert('')">27</button></td>
    <td><button type="button" onclick="alert('')">28</button></td>
  </tr>
  <tr>
    <td><button type="button" onclick="alert('')">29</button></td>
    <td><button type="button" onclick="alert('')">30</button></td>
    <td><button type="button" onclick="alert('')">31</button></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</form>

</body>
</html>
