<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <title>MakersBnB</title>

    <div>
      <div class="logo">
        <img src="https://i.ibb.co/HzFTZgX/logo-transparent.png" alt="logo" border="0" class="center" >
      </div>
      <div class="background">
        <img src="https://i.ibb.co/k4F4H9c/sky.png" alt="sky" border="0">
      </div>
    </div>
  </head>


  <body>
    <div class = "class1">
      <h2>Sign in</h2>
      <h1></h1>
      <form action="/sign_in" method="post">
        <input type="text" name="account_name" placeholder="Name">
        <h1></h1>
        <input type="text" name="account_email" placeholder="Email">
        <h1></h1>
        <input type="text" name="account_password" placeholder="Password">
        <h1></h1>
         <input type="submit" value="Sign In" class="button">
      </form>
    </div>

    <div class="class2">
      <h2>Create Account</h2>
      <h1></h1>
      <form action="/create_account" method="post">
        <input type="text" name="name" placeholder='Name'>
        <h1></h1>
        <input type="text" name="email" placeholder="Email">
        <h1></h1>
        <input type="text" name="password" placeholder="Password">
        <h1></h1>
        <input type="submit" value="Create Account" class="button">
      </form>
    </div>
  </body>
</html>
