<!DOCTYPE html>
<h1> Makers BnB </h1>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Sign in</h2>
    <form action="/sign_in" method="post">
      <input type="text" name="account_email" placeholder="Email">
      <input type="text" name="account_password" placeholder="Password">
      <input type="submit" value="Sign In">
    </form>
  </body>
</html>

  <head>
    <h2>Create Account</h2>
  </head>
  <body>
<form action="/create_account" method="post">
  <input type="text" name="name" placeholder='Name' >
  <input type="text" name="email" placeholder="Email">
  <input type="text" name="password" placeholder="Password">
  <input type="submit" value="Create Account">
</form>
  </body>
</html>
