<div>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>



  <img src="https://i.ibb.co/6mPXMWc/Screen-Shot-2019-05-07-at-14-17-38.png" alt="Screen-Shot-2019-05-07-at-14-17-38" border="0" class="center" >



  <html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Sign in</h2>
    <form action="/sign_in" method="post">
      <input type="text" name="account_email" placeholder="Email">
      <input type="text" name="account_password" placeholder="Password">
        <input type="submit" value="Sign In">
    </form>

  </body>
</html>

<head>
    <h2>Create Account</h2>
  </head>
  <body>
<form action="/create_account" method="post">
  <input type="text" name="name" placeholder='Name' >
  <input type="text" name="email" placeholder="Email">
  <input type="text" name="password" placeholder="Password">
    <input type="submit" value="Create Account">
</form>

  </body>
</html>

</div>
