<!DOCTYPE html>

  <head>
    <h1>Create Account</h1>
  </head>
  <body>
<form action="/" method="post">
  <input type="text" name="name" placeholder='Name' >
  <input type="text" name="email" placeholder="email">
  <input type="text" name="password" placeholder="Password">
  <input type="submit" value="Create Account">
</form>
  </body>
</html>
