<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head class="sky-image logo">
    <!-- Navigation bar -->

    <nav class="navbar navbar-light bg-light nav_header">
      <a class="navbar-brand" href="#">
        <img src="https://i.ibb.co/HzFTZgX/logo-transparent.png" width="30" height="30" class="d-inline-block align-top" alt="">
        MakersBnB
      </a>
    </nav>

    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <title>MakersBnB</title>


  </head>

  <body class="background-colour font">
    <div>
      <div style media="position: relative; left: 0; top: 0;">
        <img src="https://i.ibb.co/k4F4H9c/sky.png" alt="sky" border="0" class="sky-image">
        <!-- <img src="https://i.ibb.co/HzFTZgX/logo-transparent.png" alt="logo" border="0" class="center logo" > -->
      </div>
      <!-- <div class="background image-header bg"> -->
        <!-- <img src="https://i.ibb.co/k4F4H9c/sky.png" alt="sky" border="0" class="bg opacity"> -->
      <!-- </div> -->
    </div>
    <!-- Form Divs -->
    <div class = "container class2">
      <section class="row">
        <div class="col-4">
          <img src="https://i.ibb.co/HzFTZgX/logo-transparent.png" alt="logo" border="0">
        </div>



        <div class="col-3">
      <h2>Sign in</h2>
      <h1></h1>
      <form action="/sign_in" method="post">
        <input type="text" name="account_name" placeholder="Name">
        <h1></h1>
        <input type="text" name="account_email" placeholder="Email">
        <h1></h1>
        <input type="text" name="account_password" placeholder="Password">
        <h1></h1>
         <input type="submit" value="Sign In" class="button">
      </form>
      </div>

    <!-- </div> -->

    <!-- <div class="class2"> -->
    <div class="col-4">
      <h2>Create Account</h2>
      <h1></h1>
      <form action="/create_account" method="post">
        <input type="text" name="name" placeholder='Name'>
        <h1></h1>
        <input type="text" name="email" placeholder="Email">
        <h1></h1>
        <input type="text" name="password" placeholder="Password">
        <h1></h1>
        <input type="submit" value="Create Account" class="button">
      </form>
    </div>
    </section>
    </div>
  </body>
</html>
