
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    </style>
  </head>
  <body>
    <img src="https://i.ibb.co/6mPXMWc/Screen-Shot-2019-05-07-at-14-17-38.png" alt="Screen-Shot-2019-05-07-at-14-17-38" border="0" class="center" >
  </body>
</html>

  <html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>
    .class1 {
      float:left;
      padding: 0px 5px 0px 210px;
      text-align: center;
    }
    h1 {
      padding: 10px 0px 10px 0px;
    }
    body {
      font-family: 'Raleway', sans-serif;
      background-color: #EBF8FD;
      font-family: 'Raleway', sans-serif;
    }
    /* body {background-color: #A3B0E4; text-align: center; font-family: 'Quicksand'; padding-top: 200px;}
    h2   {color: #D13EA9; font-family: 'Londrina Sketch', cursive; font-size: 50px;}
    form {color: #525872;} */
    </style>
  </head>
  <body>
    <div class = "class1">
      <h2>Sign in</h2>
      <h1></h1>
      <form action="/sign_in" method="post">
        <input type="text" name="account_email" placeholder="Email">
        <h1></h1>
        <input type="text" name="account_password" placeholder="Password">
        <h1></h1>
        <input type="submit" value="Sign In">
      </form>
    </div>
  </body>
</html>

<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
</head>
  <style>
  .class2 {
    float:right;
    padding: 0px 210px 0px 5px;
    text-align: center;
  }
  </style>
  <body>
    <div class="class2">
      <h2>Create Account</h2>
      <h1></h1>
      <form action="/create_account" method="post">
        <input type="text" name="name" placeholder='Name'>
        <h1></h1>
        <input type="text" name="email" placeholder="Email">
        <h1></h1>
        <input type="text" name="password" placeholder="Password">
        <h1></h1>
        <input type="submit" value="Create Account">
      </form>
    </div>
  </body>
</html>
