
h2 {
  font-family: 'Poppins', sans-serif;

}
ul {
  font-family: 'Poppins', sans-serif;
}

text {
  font-size: 20px;
}

body {
  background-color: #EBF8FD;
}

.button {
  border-radius: 15px 15px 15px 15px;
  border: 3px solid #C1D3D6;
  background-color: #DCDCDC;
  color: black;
  cursor: pointer;
}

.button:hover {
  background-color: #89D1DD;
  color: white;
}

sign-out {
  display: inline-block;
  float: right;
  padding: 5px 15px 0px 210px;
}

  h2 {
  font-family: 'Poppins', sans-serif;
   display: inline;
   padding: 10px 550px 0px 550px;
}

h3 {
  font-family: 'Poppins', sans-serif;
   display: inline;
  float: right;
}
