.font {
  font-family: monospace;
}

.nav_header {
  background-color: #e3ebf7!important;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
h2 {
  font-family: 'Poppins', sans-serif;
}
.images {
  position: relative;
  top: 0;
  left: 0;
}
.logo {
  position: relative;
  top: 0;
  left: 0;
}
.background {
  position: absolute;
  top: 30px;
  left: 70px;
  width: 200px;
  height: 50px;
}

.class1 {
  float:left;
  padding: 0px 5px 0px 210px;
  text-align: center;
}
h1 {
  padding: 10px 0px 10px 0px;
}
body {
  font-family: 'Raleway', sans-serif;
  background-color: #EBF8FD;
  font-family: '', sans-serif;
}
.button {
  border-radius: 15px 15px 15px 15px;
  border: 3px solid #C1D3D6;
  background-color: #DCDCDC;
  color: black;
  cursor: pointer;
}
.button:hover {
  background-color: #89D1DD;
  color: white;
}

.class2 {
  float:right;
  padding: 0px 210px 0px 5px;
  text-align: center;
}
/* body {background-color: #A3B0E4; text-align: center; font-family: 'Quicksand'; padding-top: 200px;}
h2   {color: #D13EA9; font-family: 'Londrina Sketch', cursive; font-size: 50px;}
form {color: #525872;} */
